<div class="main-page">
    <div class="album-detail-container flex j-between">
        
        {{#each playlist}}
        <div class="album-poster flex  a-center">
            <a class="poster" href=""><img src="{{Image}}" alt=""></a>
            <h3 class="name-album">{{Name}}</h3>
            <a href="" class="author">{{Describe}}</a>
            <button class="play">Tiếp tục phát</button>
            <div class="btns">
                <button class="delete "><i class="fa-solid fa-xmark"></i></button>
                <button class="more "><i class="fa-solid fa-ellipsis"></i></button>
            </div>
            
        </div>
        {{/each}}
        <div class="album-song">
            <div class="header flex a-center">
                <button class="arrange"><i class="fa-solid fa-arrow-up-z-a"></i></button>
                <h3>Bài hát</h3>
                <div class="line"></div>
            </div>
            <div class="media-list">
                {{#each playlistsong}}
                <div class="media-item flex a-center j-between">
                    <div class="media-left flex a-center ">
                        <a href="/song/{{song_id}}"><img src="{{song_img}}" alt=""></a>
                        <div class="detail">
                            <h3>{{song_name}}</h3>
                            <a href="">{{artist_name}}</a>
                        </div>
                    </div>
                    <div class="media-right">
                        <span class="time">{{song_time}}</span>
                        <button class="heart "><i class="fa-solid fa-heart like"></i></button>
                        <button class="plus"><i class="fa-solid fa-plus "></i></button>
                    </div>
                </div>
                {{/each}}

            </div>
        </div>
    </div>
</div>