<head>
  <link rel="stylesheet" href="/css/admin.css" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
  />
</head>

<body class="p-relative">
  <div class="main-container">
    <div class="slide-page p-fixed t-0 l-0">
      <div id="Menu">
        <h1>ADMIN</h1>
        <div class="menu">
          <a href="/">
            <i class="fa-solid fa-bars"></i>
            Home page
          </a>
          <a class="user" href="/login/admin">
            <i class="fa-solid fa-users"></i>
            User Management
          </a>

          <a class="active content" href="/login/admin/songmanagement">
            <i class="fa-solid fa-music"></i>
            Song Management
          </a>

          <a class="playlist" href="/login/admin/playlistmanagement">
            <i class="fa-solid fa-table-list"></i>
            PlayList Management
          </a>

          <a class="album" href="/login/admin/albummanagement">
            <i class="fa-solid fa-compact-disc"></i>
            ALbum Management
          </a>
          <a class="artist" href="/login/admin/artistmanagement">
            <i class="fa-solid fa-microphone"></i>
            Artist Management
          </a>

        </div>
      </div>
    </div>
    <header class="flex a-center p-fixed t-0 r-0">
      <div class="account flex a-center">
        <img src="image/Ellipse 2.png" alt="" />
        <h4 class="name">Alex</h4>
      </div>
    </header>
    <div class="main-page">
      <!-- trang quản lí nội dung song playlist album -->
      <div class="content-management">
        <h2>Song Management</h2>
        <!-- quản lí bài hát có thêm xoá sửa -->
        <div class="Music-management">
          <div class="header flex a-center">
            <button class="arrange"><i
                class="fa-solid fa-arrow-up-z-a"
              ></i></button>
            <h3>Song list</h3>
            <form action="" class="search">
              <div class="input-group">
                <label for="search-user">
                  <i class="fa-solid fa-magnifying-glass"></i></label>
                <input
                  id="search-user"
                  type="text"
                  placeholder="Search for Song "
                />
              </div>
            </form>
            <div class="line"></div>
          </div>
          <div class="music-list">
            <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">Image</th>
                  <th scope="col">Name</th>
                  <th scope="col">Time</th>
                  <th scope="col">Number Listen</th>
                  <th scope="col">Edit</th>
                  <th scope="col">Delete</th>

                </tr>
              </thead>
              <tbody>
                {{#each songmanagememt}}
                  <tr class="music">
                    <th><img src="{{Image}}" alt="" /></th>
                    <td>{{Name}}</td>
                    <td>{{Time}}</td>
                    <td> {{NumberListens}}</td>
                    <td>
                      <button class="update">
                        <a
                          href="/login/admin/songmanagement/{{SongID}}/editsong"
                        >
                          <i class="fa-solid fa-pencil"></i>
                        </a>
                      </button>
                    </td>
                    <td>
                      <button
                        class="delete-song"
                        data-toggle="modal"
                        data-target="#delete-song-modal"
                        data-id="{{SongID}}"
                      >
                        <i class="fa-solid fa-xmark"></i>
                      </button>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
          <button
            type="button"
            onclick="modal7how()"
            class="btns btn-add-music"
          >Add music</button>

        </div>
      </div>
    </div>
  </div>

  <!-- modal xoá song -->
  <div
    id="delete-song-modal"
    class="modal modal-delete"
    tabindex="-1"
    role="dialog"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Song</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Do you really want to delete this Song</p>
        </div>
        <div class="modal-footer">
          <button
            id="btn-delete-song"
            type="button"
            class="btn btn-primary"
          >Save changes</button>
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >Close</button>
        </div>
      </div>
    </div>
  </div>
  <form method="post" name="delete-song-form"></form>

  <div class="modal modal-7">
    <div class="flex a-center j-center">
      <form
        method="post"
        action="songmanagement/addNewSong"
        class="modal-style song-information flex a-center j-between"
      >
        <h3>Song Information</h3>
        <img src="/img/Rectangle 33.png" alt="" class="avatar-song" />
        <label for="avatar" class="lable-edit">Edit Photo</label>
        <input
          type="file"
          name="Image"
          id="avatar"
          accept="image/png, image/jpeg"
        />

        <div class="input-group">
          <label for="name-song">Name Song</label>
          <input
            name="Name"
            id="name-song"
            type="text"
            placeholder="Name Song"
          />
        </div>
        <div class="input-group">
          <label for="lyric">Lyric</label>
          <textarea name="Lyric" id="lyric" cols="10" rows="10"></textarea>
        </div>
        <div class="input-group">
          <label for="Link">Link Song</label>
          <input name="Link" id="Link" type="link" placeholder="Link Song" />
        </div>
        <div class="input-group">
          <label for="Time">Time</label>
          <input name="Time" id="Time" type="text" placeholder="Time" />
        </div>
        <button class="btn-confirm">
          Confirm
        </button>
      </form>
      <button onclick="modal7close()" class="close-modal p-absolute"><i
          class="fa-solid fa-xmark"
        ></i></button>
    </div>
  </div>

</body>
<script src="/js/admin.js"></script>